<div class="container-fluid" style="margin: 25px;" id="firstHead">
        <div>
        <h2 class="px-5 mx-5"><img src="/workspace/exercise-collaborative-html-website/website1/assets/img/1.jpg" width="250"
                height="250" class="derecha rounded-circle" alt="1"></img>The first heading<small class="text-muted"> Will Catch Your Eye</small>
        </h2>
        <p class="px-5 mx-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore esse omnis eum, labore harum iure. Voluptate quidem hic quam minus voluptas labore maxime dolorem ducimus sint, id culpa veniam dolore.</p>
         </div>
</div>