<header class="container-fluid py-1" id="body">
        <div class="row bg-light p-1 mt-5 mx-1">
            <div class="col-12 text-center">
                <h1 class="display-1"><strong> Page Wonder</strong></h1>
            </div>
        </div>
        <div class="row text-dark bg-light p-1 mt-3 mx-1">
            <div class="col-12 text-center">
                <h2 class="display-2"><strong>Will Knock Your Socks Off</strong></h2>
            </div>
        </div>

</header>
    